
@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div style="min-height: 300px;">
    <p style="text-transform: uppercase;padding: 25px;font-size: 25px;text-align: center;">
        Đăng nhập tài khoản
        Nhóc Giftshop
    </p>
    <div>
        <img src="@Url.Content("~/Content/Client/")image/border.png" alt="" style="width: 100%;margin-top: -8px;">
    </div>
    <div id="frmSignIn" style="text-align: center;">
        <div id="inputSignIn">
            <form action="@Url.Action("CheckPerson")" method="POST">
                <input name="phone" type="text" id="username" placeholder="Your phone number" value="" required maxlength="11">
                <input name="pwd" type="password" id="pwd" placeholder="Password" value="" required maxlength="20">
                <input name="submit" type="submit" id="btnSubmit" value="Đăng nhập">
            </form>
            <a href="@Url.Action("LayoutGetPwd")" style="position: relative;bottom: -105px;left: -240px;" rel="" href="" id="forgetPass">Quên mật khẩu</a>
        </div>
    </div>
</div>
