
@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div style="min-height: 300px; text-align: center;">
    <form action="">
        <p style="text-transform: uppercase;padding: 25px;font-size: 20px;text-align: center;">
            Lấy lại mật khẩu
        </p>
        <p><strong>* Nhập địa chỉ email đăng ký:</strong></p>
        <input type="text" name="email" style="padding: 5px; width: 30%;">
        <div style="margin-top: 20px;">
            <input type="submit" value="Xác nhận" style="font-size: 16px;padding: 5px;width: 10%;font-weight: 700;" required>
        </div>
    </form>
</div>

